<phpunit bootstrap="./test/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="PDOProxyTest">
			<directory>./test</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>